<aside id="sidebar">
  <nav>
    <% if current_user_admin? %>
      <ul>
        <li class="all-movies">
          <%= link_to 'All Movies', movies_path, class: 'button' %>
        </li>
        <li class="create-movie">
          <%= link_to 'Add New Movie', new_movie_path, class: 'button' %>
        </li>
        <li class="all-genres">
          <%= link_to 'All Genres', genres_path, class: 'button' %>
        </li>
        <li class="create-genre">
          <%= link_to 'Add New Genre', new_genre_path, class: 'button' %>
        </li>
      </ul>
    <% end %>
  </nav>
  <%= content_for :side %>
</aside>
